tp_avec_enonces/tp_xsd_cmde/1_sans_ns/solutions/client.xsd


<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    
<xsd:element name="client" type="clientType"/>
    
<xsd:complexType name="clientType">
		<xsd:sequence>
			<xsd:element name="numero" type="xsd:int"/>
		  <xsd:element name="prenom" type="xsd:string"/>
			<xsd:element name="nom" type="xsd:string"/>
			<xsd:element name="email" type="xsd:string"/>
			<xsd:element name="adresse" type="xsd:string"/>
		</xsd:sequence>
</xsd:complexType>				
	
</xsd:schema>
