tpJavaXml/src/main/resources/v1_sans_ns/produit.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" >

 <xsd:element name="produit" type="Produit" />
 
 <xsd:complexType name="Produit">
		<xsd:all>
			<xsd:element name="label" type="xsd:string"/>
			<xsd:element name="prix" type="xsd:decimal"  />
			<xsd:element name="caracteristique" type="xsd:string"  minOccurs="0" />
		</xsd:all>
		<xsd:attribute name="ref" type="xsd:string" use="required" />
</xsd:complexType>

</xsd:schema>
