tp_xml_v2005/xml_+_schema/livre.xsd


<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    
<xsd:complexType name="livreType">
		<xsd:sequence>
			<xsd:element ref="titre"/>
			<xsd:element name="auteur" type="xsd:string"/>
			<xsd:element name="editeur" type="xsd:string"/>
		</xsd:sequence>
		<xsd:attribute name="prix" type="xsd:decimal"/>
		<xsd:attribute name="parution" type="xsd:date"/>
</xsd:complexType>				
	
</xsd:schema>
