tpJavaXml/src/main/resources/produit.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
        targetNamespace="http://www.example.org/produit" 
        xmlns:tns="http://www.example.org/produit" 
        elementFormDefault="qualified">

   <element name="produit" type="tns:Produit" />
 
   <complexType name="Produit">
		<sequence>
			<element name="label" type="string"/>
			<element name="prix" type="decimal"  />
			<element name="caracteristique" type="string"  minOccurs="0"  maxOccurs="8" />
		</sequence>
		<attribute name="ref" type="string" use="required" />
  </complexType>

</schema>
