tp_xml_v2005/xml_+_schema_+_namespace/tp_cmde/avec_ns/tmp_ns/client.xsd


<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 	 xmlns:nfcli="http://client.nf.org"
	targetNamespace="http://client.nf.org"
	elementFormDefault="unqualified"
	attributeFormDefault="unqualified">
    
<xsd:element name="client" type="nfcli:Client"/>
    
<xsd:complexType name="Client">
		<xsd:sequence>
			<xsd:element name="numero" type="xsd:int"/>
		    <xsd:element name="prenom" type="xsd:string"/>
			<xsd:element name="nom" type="xsd:string"/>
			<xsd:element name="email" type="xsd:string"/>
			<xsd:element name="adresse" type="xsd:string"/>
		</xsd:sequence>
</xsd:complexType>				
	
</xsd:schema>
